
<!--<%= render :partial => "form", :object => f, :locals => { :user => @user } %>-->





<!--
<div class="mycontainer">
	<div class="row">
 
  		<div class="span4 offset6 white">

  		<h1>Share A Ride</h1>
  		<h3>Save money & time!</h3>

 		 </div>
	</div>

	<div class="row">
		<div class="span 8 offset 2">
			
			

		</div>
	</div>

</div>
->